<head>
  <link href="/../public/css/styles.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="titles">
    <h1>EDIT/DELETE</h1>
    <hr />
    <p>Edit desired fields for the selected item.</p>
  </div>

  <form action="/edit/name/<%= item.item_name %>?_method=PATCH" method="post" class="edit-form">
    <div class="form-field">
      <label for="item_id">Item ID: </label>
      <input
        type="text"
        name="item_id"
        id="item_id"
        value="<%= item.item_id %>"
        readonly
      />
    </div>

    <div class="form-field">
      <label for="item_name">Item Name: </label>
      <input
        type="text"
        id="item_name"
        name="item_name"
        value="<%= item.item_name %>"
      />
    </div>

    <div class="form-field">
      <label for="category">Category: </label>
      <select name="category" id="category">
        <option value="1" <%= item.category === 1 ? 'selected' : '' %>>Fruits</option>
        <option value="2" <%= item.category === 2 ? 'selected' : '' %>>Vegetables</option>
        <option value="3" <%= item.category === 3 ? 'selected' : '' %>>Dairy</option>
        <option value="4" <%= item.category === 4 ? 'selected' : '' %>>Beverages</option>
        <option value="5" <%= item.category === 5 ? 'selected' : '' %>>Meat</option>
        <option value="6" <%= item.category === 6 ? 'selected' : '' %>>Bakery</option>
      </select>
    </div>

    <div class="form-field">
      <label for="price">Price: </label>
      <input
        type="number"
        step="any"
        id="price"
        name="price"
        value="<%= item.price %>"
      />
    </div>

    <div class="form-field">
      <label for="description">Description: </label>
      <textarea name="description" id="description">
<%= item.description %>
      </textarea>
    </div>

    <div class="form-field">
      <label for="image_url">Image URL: </label>
      <input
        type="text"
        name="image_url"
        id="image_url"
        value="<%= item.image_url %>"
        readonly
      />
    </div>

    <button type="submit" class="update-button">UPDATE</button>
  </form>
  <form action="/edit/name/<%= item.item_name %>?_method=DELETE" method="POST"><button type="submit" class="delete-button-edit">DELETE ITEM</button></form>

  <p><%= message %></p>
</body>
