<head>
  <link href="/../public/css/styles.css" rel="stylesheet" />
</head>

<body>
  <%- include('./partials/nav.ejs') %>

  <h1>EDIT</h1>
  <form action="/edit/name/<%= item.item_name %>?_method=PATCH" method="post">
    <div class="form-field">
      <label for="item_id">Item ID: </label>
      <input
        type="text"
        name="item_id"
        id="item_id"
        value="<%= item.item_id %>"
        readonly
      />
    </div>

    <div class="form-field">
      <label for="item_name">Item Name: </label>
      <input
        type="text"
        id="item_name"
        name="item_name"
        value="<%= item.item_name %>"
      />
    </div>

    <div class="form-field">
      <label for="category">Category: </label>
      <select name="category" id="category">
        <option value="1">Fruits</option>
        <option value="2">Vegetables</option>
        <option value="3">Dairy</option>
        <option value="4">Beverages</option>
        <option value="5">Meat</option>
        <option value="6">Bakery</option>
      </select>
    </div>

    <div class="form-field">
      <label for="price">Price: </label>
      <input
        type="number"
        step="any"
        id="price"
        name="price"
        value="<%= item.price %>"
      />
    </div>

    <div class="form-field">
      <label for="description">Description: </label>
      <textarea name="description" id="description">
<%= item.description %>
      </textarea>
    </div>

    <div class="form-field">
      <label for="image_url">Image URL: </label>
      <input
        type="text"
        name="image_url"
        id="image_url"
        value="<%= item.image_url %>"
        readonly
      />
    </div>

    <button type="submit">UPDATE (PATCH)</button>
  </form>
  <form action=""><button type="submit">DELETE ITEM</button></form>

  <p><%= message %></p>
</body>
