<head>
  <link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="titles">
    <h1 class="category-title"><%= category %></h1>
    <hr />
  </div>

  <div class="items-container">
    <% if (items.length > 0) { %> <% items.forEach(item => { %>

    <div class="item-card cat-<%= item.category %>">
      <form
        action="/edit/name/<%= item.item_name %>?_method=DELETE"
        method="POST"
        class="item-card-delete"
      >
        <button type="submit" class="delete-button">X</button>
      </form>
      <span class="item-card-title"> <%= item.item_name %> </span>
      <img
        class="item-card-img"
        src="../public/assets/<%= item.image_url %>"
        alt=""
      />
      <p><%= item.description %></p>
      <span>$<%= item.price %></span>
      <form
        action="/edit/name/<%= item.item_name %>"
        method="GET"
        class="item-card-edit"
      >
        <button type="submit" class="edit-button">EDIT</button>
      </form>
    </div>

    <% }) %> <% } else { %>
    <p>No items found.</p>
    <% } %>
  </div>
</body>
